#container{
  height: 100vh;
  width: 100%;
}

#header {
  position: fixed;
  float: left;
  background-color: red;
  width: 100%;
  height: 39px;
  z-index: 1;
}

#header ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.login_register {
  float: right;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  display: inline-block;
}

#ad1{
  position: relative;
  width: 60%;
  height: 30%;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-50%);
  border: solid black;
}

#ad2{
  position: fixed;
  width: 10%;
  height: 400px;
  left: 2.5%;
  top: 15%;
  border: solid black;
}

#ad3{
  position: fixed;
  width: 10%;
  height: 400px;
  right: 2.5%;
  top: 15%;
  border: solid black;
}

.stories{
  position: relative;
  border: solid red;
  height: 60%;
  width: 100%;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%,-50%);
}

.stories1{
  position: relative;
  border: solid rgb(162, 0, 255);
  float: left;
  margin-left: 15%;
  width: 30%;
}

.stories2{
  position: relative;
  border: solid rgb(162, 0, 255);
  float: right;
  margin-right: 15%;
  width: 30%;
}

.highlights{
  border: solid blue;
  height: 300px;
  width: 70%;
  margin-bottom: 70px;
  margin-top: 0px;
  transform: translate(21%);
}

.highlights_img{
  width:100%;
  height:100%;
}

.popular{
  float: left;
  margin-left: 0px;
  margin-top: 30px;
  border: none;
  height:auto;
  width: 100%;
}

.latest{
  float: right;
  margin-right: 0px;
  margin-top: 30px;
  border: none;
  height:auto;
  width: 100%;
}

#footer{
  float:right;
  width: 100%;
  height: 100px;
  border: solid purple;
  margin-right: -3px;
  transform: translate(0%);
}

.login_register:hover {
  background-color: rgba(169, 169, 169, 0.603);
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}

.dropbtn {
  color: white;
  float: left;
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.dropdown {
  position: relative;
  float: left;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 39px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(169, 169, 169, 0.603);
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-device-width: 778px) {

  .popular{
    height:auto;
    width:100%;
    margin-left: 0px; 
  }

  .latest{
    height:auto;
    width:100%;
    margin-right: -4px; 
  }

  .stories1{
    height:auto;
    width:100%;
    margin-left: -3px; 
  }

  .stories2{
    height:auto;
    width:100%;
    margin-right: 1px;
  }

  #ad2{
    position: relative;
    border: solid rgb(162, 0, 255);
    float: left;
    height:100px;/*todo auto for image adds*/
    left: 0%;
    margin-left: -3px;
    width:100%;
  }
  
  #ad3{
    position: relative;
    border: solid rgb(162, 0, 255);
    float: left;
    height:100px;/*todo auto for image adds*/
    left: 0%;
    margin-right: 1px;
    width:100%;
  } 

  .highlights{
    width:100%;
    margin-left: -3px;
    transform: translate(0%);
  }
}

